In [1]:
import camelot
import pandas as pd
import numpy as np

In [8]:
table = camelot.read_pdf('1.pdf',pages='1',line_scale=40)
table
table.export('f.csv', f='csv', compress=True)

In [3]:
table[0].df

,0,1,2
0,0 C Hic \n#) \tc) \nCJ \tI 14 4 11 t• \tr CC...,Delegate Agency Grant \nAgreement of the City ...,Title of the Program: \nOut of School Time Pro...

In [4]:
table[1].df

,0,1,2
0,Contract (P.O.) Number: \n31118,Specification Number: \n129350,Vendor Number: \n50835023 A

In [5]:
table = camelot.read_pdf('1.pdf',pages='1',line_scale=60)
l = []
c = 0
a=pd.DataFrame()
for i in table:
    df=table[c].df
    df = df.replace(to_replace ='', value = np.nan , regex = True) 
    df.dropna(axis=1, how='all',inplace=True)
    df.dropna(axis=0, how='all',inplace=True)
    df.dropna(axis=0, how='all',inplace=True)
    df.reset_index(inplace = True, drop = True)
    df.columns = range(df.shape[1])
    a=a.append(df)
    c=c+1
df =a
df

,0,1,2,3,4
0,0 C Hic \n#) \tc),NaN,NaN,Delegate Agency Grant \nAgreement of the City ...,Title of the Program: \nOut of School Time Pro...
1,NaN,CJ \tI 14 4 11 t• \tr CC,NaN,NaN,NaN
2,NaN,"\'., ■ \t '''46.Y",11757r .1-';,NaN,NaN
0,Contract (P.O.) Number: \n31118,Specification Number: \n129350,Vendor Number: \n50835023 A,NaN,NaN
0,"Name and address l of \nDelegate Agency (""You...","City Department: \n(""Department"" and \nAddress...",Term of Agreement: \nStart Date/Date of Agreem...,NaN,NaN
1,Maximum Compensation (subject \nto the availab...,"Committed Compensation: \n$25,000",NaN,NaN,NaN
0,Special Conditions: the above grant is subject...,NaN,NaN,NaN,NaN
0,"Brief Description of Program (the ""Program""):",NaN,NaN,NaN,NaN

In [24]:
df.index = df.index + 1
df_out = df.stack()
df_out.index = df_out.index.map('{0[1]}_{0[0]}'.format)
df= df_out.to_frame().T
df = df.replace(to_replace ='[\n]', value = ' ', regex = True)
df.columns = range(df.shape[1])
df
str(df[9])[5:11]

'Commit'

In [7]:
a =df.shape[1]
col =[]
for i in range(0,a):
        if str(df[i])[5:11] in ['Delega','Title ','Contra','Specif','Vendor','Name a','City D','Term o','Maximu','Commit','Amendm']:
            pass
        else :
            col.append(i)
df.drop(col,axis=1,inplace=True)
df.columns = range(df.shape[1])
a = df.shape[1]-10
for i in range(0,a):
    df.drop([10+i],axis=1,inplace=True)
df.columns = range(df.shape[1])
df = df.replace(to_replace ='[\n]', value = ' ', regex = True)
df

,0,1,2,3,4,5,6,7,8,9
0,Delegate Agency Grant Agreement of the City o...,Title of the Program: Out of School Time Prog...,Contract (P.O.) Number: 31118,Specification Number: 129350,Vendor Number: 50835023 A,"Name and address l of Delegate Agency (""You""...","City Department: (""Department"" and Address: ...",Term of Agreement: Start Date/Date of Agreeme...,Maximum Compensation (subject to the availabi...,"Committed Compensation: $25,000"